window {
    border-radius: 999px;
    padding: 0px 20px;
    background: #0f0918BB;
    border: 1px solid #DC577388;
    min-height: 0px;
}
box { 
    min-width: 350px; 
    min-height: 0px;
    margin: 0px;
}
image { 
    -gtk-icon-size: 8px; 
    margin-right: 4px;
    min-height: 0px;
}
progressbar trough {
    border-radius: 999px;
    background: #f4c3c133;
    min-height: 3px;
}
progressbar progress {
    border-radius: 999px;
    background: #DC5773;
    min-height: 3px;
}
